{% extends "blogbase.html.twig" %}

{% block title %}{{ parent() }} | Ajouter une categorie{% endblock %}

{% block content %}
    {% if success is defined %}
        <div class="p-3 my-2 bg-success rounded-2 text-white">
            <strong><b>Success!</b> </strong> {{success}}.
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h4>Ajout d'une categorie</h4>
            </div>
        </div>
        {% include "includes/categorie_form.html.twig" %}
    </div>
{% endblock %}